.bgimg {
    // display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/Background-Graphics.jpg');
    background-size: cover;
    z-index: -1;
}


.navbar {
    background-color: rgb(82, 180, 197);
}