.container {
    background-color: rgba(69, 66, 243, 0.3);
}

.btn-primary {
    margin-left: 20px;
}

.btn-light {
    margin-left: 10px;
}

.btn-danger {
    margin-left: 10px;
}

.bi {
    font-size: 1.25rem;
}

.bi-trash {
    margin-left: 15px;
}