/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-primary {
    margin-top: 1rem;
    background-color: rgb(82, 180, 197);
    color: white;
    border-color: rgb(82, 180, 197);
    box-shadow: 5rem;
}

.btn-primary:hover {
    background-color: rgb(0, 53, 199)
}

.form-label {
    margin-top: 0.5rem;
}

.container {
    width: 100%;
    margin: 60px 80px;
    // overflow-y: auto;
    height: auto;
    border-radius: 1rem;
    padding: 30px;

}