<div class="container">
<form [formGroup]="PurchaseInvoiceForm" #purchaseForm  >
  
  
    <h2 style="text-align: center;margin-top: 0.5rem;">{{pageTitle}}</h2>
    <hr>
  
    <app-toast-notification #toast></app-toast-notification>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="form-group col-lg-4">
            <label for="voucherNo" class="form-label">Voucher No</label><span class="text-danger">*</span>
              <input formControlName="voucherNo" type="text" class="form-control">            
          </div>
          <div class="form-group col-lg-4">
            <label for="invoiceNo" class="form-label">Invoice No</label>          
              <input formControlName="invoiceNo" type="text" class="form-control">          
          </div>
          <div class="form-group col-lg-4">
            <label for="date" class="form-label">Date</label>          
              <input formControlName="date" type="date" class="form-control">          
          </div>
        </div>
        <div class="row">
        <div class="form-group col-10">
          <label for="creditor" class="form-label">Party Name</label>          
            <select formControlName="creditor" type="text" class="form-select" (change)="onSelectCreditor()">
              <option value="{{c._id}}" *ngFor="let c of masterCreditor">{{c.businessName}}</option>
            </select>
        </div> 
        <div class="col-2">
          <button class="btn btn-light" (click)=" showModal()" >Add Creditor</button>
        </div>
      </div>       
          <div class="form-group">
            <label for="address" class="form-label">Billing Address</label>          
              <textarea formControlName="address" type="text" class="form-control"></textarea>          
          </div>                 
          <div class="form-group">
            <label for="phone" class="form-label">Phone</label>          
              <input formControlName="phone" type="text" class="form-control">          
          </div>     
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <table class="table" formArrayName="details">
          <thead>
            <tr>
              <td>Sr No.</td>
              <td>Brand</td>
              <td>Product</td>
              <td>IMEI</td>            
              <td>GST %</td>             
              <td>Price</td>
              <td>Action</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of invProducts.controls;let i = index" [formGroupName]="i">
              <td>{{i + 1}}</td>
              <td>
                <select formControlName="brandName" (change)="brandChange(i)" class="form-select">
                  <option *ngFor="let b of masterBrand" [ngValue]="b.name" >{{b.name}}</option>
                </select>
              </td>
              <td>
                <div class="row">
                    <select  (change)="onSelectProduct(i)" formControlName="product"  class="form-select">
                      <option *ngFor="let p of masterProduct[i]" [ngValue]="p._id" >{{p.modelName}}</option>
                    </select>
                  </div>
                  <div class="row">
                    <p *ngIf="hsn[i]">HSN: {{hsn[i]}}</p>
                  </div>
              </td>
              <td><input  formControlName="imei" type="text" class="form-control"></td>
              <td>
                <div class="row">
                  <input  formControlName="gst" type="number" class="form-control">
                </div>
                <div class="row">
                  <p *ngIf="gst[i]">{{gst[i]}} </p>
                </div>
              </td>
              <td><input (change)="priceChange(i)"  formControlName="amount" type="number" class="form-control"></td>
              <td><i (click)="deleteRow(i)" class="bi bi-trash"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <a *ngIf="PurchaseInvoiceForm.get('creditor').value" (click)="addProduct()" class="btn btn-success"><i class="bi bi-plus-lg"></i></a>
    <hr>
    <div class="row">
      <div class="col-lg-4">
        <div class="form-group"><label for="" class="form-label">Summary Total</label>
          <input type="text" class="form-control" formControlName="total">
        </div>
      </div>
      
      <div class="col-lg-4">  
      <div class="form-group">
        <div  *ngIf="isIntraState;else interState" class="row">
          <div class="col-lg-6">
          <label for="cgst" class="form-label">CGST</label>
          <input type="text" class="form-control" formControlName="cgst">
          </div>
        <div class="col-lg-6">
          <label for="sgst" class="form-label">SGST</label>
          <input type="text" class="form-control" formControlName="sgst">
          </div>
        </div>
        <ng-template #interState>
            <div class="col-lg-12">
              <label for="igst" class="form-label">IGST</label>
              <input type="text" class="form-control" formControlName="igst">
            </div>
          </ng-template>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group"><label for="" class="form-label">Summary Net Total</label>
          <input type="text" class="form-control" formControlName="netTotal">
        </div>
      </div>
    </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="savePurchase(purchaseForm)">Save</button>
      </div>
</form>

<!-- popup modal -->
<div class="modal" id="addMaster">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close" id="close"></button>
      <div class="modal-body">
        <app-customer-master [masterType]="masterType"  [customer]="customer" 
        (submitForm)="onCreditorSubmit($event)">
        </app-customer-master>
      </div>
    </div>
  </div>
</div>

</div>




<!-- <h3>Purchase Entry</h3>
<form action="">
  <div class="form-group">
    <label for="invNo" class="form-label">Inv No.</label>
    <input class="form-control" id="invNo">
  </div>
  <div class="form-group">
    <label for="purchaseId" class="form-label">Purchase Id</label>
    <input class="form-control" id="purchaseId">
  </div>
  <div class="form-group">
    <label for="partyName" class="form-label">Party Name</label>
    <input class="form-control" id="Party Name">
  </div>
</form> -->
